{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": { "max-len": ["error", 140] }
}
